html {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    min-height: 130px;
    z-index: 1000;
    gap: 20px;
}

.logo {
    width: 120px;
    height: auto;
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.3));
    flex-shrink: 0;
}
